* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100vw;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: rgba(106, 123, 143, 255);
}

.sidebar {
	position: absolute;
	width: 70px;
	height: 98%;
	margin: 10px 8px 10px 8px;
	background-color: rgba(33, 40, 49, 255);
	transition: 1s ease;
	border: transparent;
	border-radius: 20px;
}

.main-content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar_big {
	width: 250px;
}

#button-open {
	position: absolute;
	border: none;
	height: 40px;
	width: 40px;
	border-radius: 25%;
	left: 35px;
	top: 2rem;
	transform: translateX(-50%);
	cursor: pointer;
}

#container-grid {
	background: #fff;
	height: 540px;
	width: 960px;
	max-width: 960px;
	border: transparent;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 2px 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}
.grid {
	display: grid;
}

.grid-element {
	background-color: #fff;
}
