@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	position: relative;
	width: 100vw;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	align-items: center;
	background-color: rgba(106, 123, 143, 255);
	justify-content: center;
}

#canvas-select.active {
	visibility: visible;
	transition: 0.5s;
	background: rgba(33, 40, 49, 255);
}

.selection-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 400px;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	z-index: 1;
	visibility: hidden;
}

.logo {
	display: flex;
}

.logo h1 {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	margin-top: 20px;
	color: salmon;
}

.selection-container p {
	font-family: 'Poppins', sans-serif;
	color: #fff;
}
.canvas-button-container {
	padding-top: 15px;
}

.canvas-button-container .btn {
	background-color: salmon;
	border: 1px solid salmon;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	cursor: pointer;
	float: left;
	outline: none;
}
.canvas-button-container .btn:not(:last-child) {
	border-right: none;
}

.canvas-button-container .btn:hover {
	background-color: rgb(202, 99, 87);
}

.blur {
	transition: 0.5s;
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}

.sidebar {
	position: absolute;
	left: 0;
	width: 70px;
	height: 98%;
	max-height: 655px;
	margin: 10px 8px 10px 8px;
	background-color: rgba(33, 40, 49, 255);
	transition: 0.5s ease;
	border: transparent;
	border-radius: 20px;
	overflow: hidden;
}

.main-content {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar_big {
	width: 230px;
}

.sidebar-hide {
	transition: 0.05s ease-out;
	visibility: hidden;
}

.dinosaur-container a {
	position: absolute;
	left: 80px;
	top: 38px;
	text-decoration: none;
	font-family: 'Press Start 2P', cursive;
	color: salmon;
	cursor: default;
}

#button-open {
	position: absolute;
	border: none;
	height: 40px;
	width: 40px;
	border-radius: 25%;
	left: 35px;
	top: 2rem;
	transform: translateX(-50%);
	cursor: pointer;
	z-index: 1;
}

.select-button-container {
	position: inherit;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-top: 70px;
	padding-left: 10px;
	justify-content: space-evenly;
}

.button-container {
	position: relative;
	width: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 12px;
	display: flex;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.07s;
	filter: grayscale(0.9);
}
.pickr-container {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	visibility: hidden;
}

.button-container-big {
	width: 210px;
	transition: 0.5s;
}

.button-container:hover {
	background: rgba(103, 123, 143, 255);
	filter: none;
}

.active {
	background: rgba(103, 123, 143, 255);
	filter: none;
}

.select-button-container a {
	position: absolute;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	font-size: 15px;
	color: #fff;
	padding-left: 50px;
	padding-top: 3px;
}

#container-grid {
	background: #fff;
	height: 540px;
	min-width: 960px;
	border: transparent;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 2px 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

.grid {
	display: grid;
}

.grid-element {
	background-color: #fff;
}

@media only screen and (max-width: 1120px) {
	#canvas-select {
		transform: scale(0.8);
	}
	.sidebar {
		left: -238px;
	}
	#container-grid {
		min-height: 100vh;
		min-width: 100vw;
		border-radius: 0px;
	}
}
